/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url(https://use.fontawesome.com/releases/v6.6.0/css/all.css);

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 150px) {
  .cards_item {
    width: 100%;
  }
}

@media (min-width: 400px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .cards_item {
    width: 33.3333%;
  }
}


html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  padding: 2px;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.bottom {
    font-weight: 700;
    text-align: center;
	font-size: 18px;
	color: #4f4f4f;
	flex-wrap: wrap;
	margin-top: 35px;
	word-spacing: 10px;
}

.text {
    text-align: center;
	font-size: 14px;
	padding: 8px 0px 0px 0px;
	color: #f0f8ff;
	text-shadow: 2px 1px 5px #282828;
}
.div-center {
	text-align: center;
}
.loading {
	width: 100%;  height: auto;  margin-top: 120px;
}
img {
  height: auto;
  max-width: -webkit-fill-available;
  vertical-align: middle;
  object-fit: cover;
  margin-bottom: 9px;
  transition: transform 0.25s;
}


	
.link{
	text-decoration: none;
	color: #4f4f4f;}
	

.btn {
  color: #4d4d4d;
  padding: 9px 0px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 9px;
  font-weight: 600;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #ffeb3b9e;
  background: transparent;
}

.btn:hover {
	background: #f8e960;
	color: #515151;
	transition: 0.3s all ease-in-out;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 12px;
}

.card_image {
  display: flex;
  margin: 0;
  padding: 0;
}

.card {
  background: linear-gradient(to bottom left, #ee76ac 40%, #e91e63 100%);
  border-radius: 9px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cards_item:hover{  
    transform: scale(1.05);
	transition: 0.3s all ease-in-out;
}

.cards_item:hover .card_more {  
	background-color: rgba(255, 255, 255, 0.12);
	transition: 0.7s all ease-in-out; opacity: 0; 
    visibility:hidden;
}

.cards_item:hover .btn {  
	background: #f8e960;
	color: #E91E63;
	transition: 0.3s all ease-in-out;
}

.card_more {
	position: absolute;
    margin: -25px 0px 0px 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #f8e960;
    color: #515151;
    align-self: flex-end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
}

.fa-solid {
  color: #4d4d4d;
  font-size: 19px;
}

.card_content {
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.youtube-embed {
  position: relative;
  padding-bottom: 56%;
  width: 100%;
  text-align: left;
}
.youtube-embed object {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
}
.ytp-chrome-top {
  display: none !important;
}
.ytp-watermark {
  display: none !important;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
